# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RobotControlProject.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\최연우\RobotControlProject\RobotControlProject\.idea\.idea.RobotControlProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
